/* *{
    margin: 0;
    padding: 0;
    font-family: cursive;
    
} */
/* .hero{
    height: 100%;
     width:100%;
    background-image:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(banner.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
} */
.form-box{
    width: 440px;
    height: 640px;
    position: relative;
    margin: 6% auto;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 25px;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position:relative;
    /*box-shadow: 0 0 200px 90px #ff61241f;*/
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border:0;
    position: relative;
    left: 0px;
    
}

.social-icons{
    margin: 30px, auto;
    text-align: center;
    
}
.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    border-radius: 50%;
    cursor: pointer;
}
.input-group{
    top:180px;
    position: absolute;
    width:280px;
    transform: .5s;

}
.input-field{
    width: 122%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top:0;
    border-bottom: 1px solid aqua;
    outline: none;
    background: transparent;
    font-family: cursive;
    
}
/* .submit-btn{
    width:95%;
    padding: 15px 35px;
    cursor: pointer;
    display: block;
    margin:auto;
    background: linear-gradient(to right, #99cc00, #66ff66);
    border: 0;
    outline: none;
    border-radius: 30px;
} */
.check-box{
    margin: 30px 10px 30px 0;

}
span{
    color:#777;
    font-size: 14px;
    bottom: 70px;
    position: absolute;
    }

#register{
    left:50px;
}
body{
    content: "";
    background: url("../img/banner.jpg") no-repeat;
    
}
#registerlabel{
    background: linear-gradient(to right, #ffff66,#66ff66);
    text-align: center;
    border-radius:17px;
}  
#lb1{
    padding: 5px 0px;
    font-family: cursive;
}
#sub-btn{
    width: 125%;
    padding: 10px 35px;
    cursor: pointer;
    background: linear-gradient(to right, #99cc00, #66ff66);
    border: 0;
    border-radius: 9px;
    font-family: cursive;
}
#p1{
font-family: cursive;
font-size: 13px;
color: grey;
}
#sub-btn:hover{
    border: 3px solid rgb(56, 178, 194);
    color: rgb(228, 161, 17);
}


    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    


































































